
body{
    margin: 0;
    background-color: rgba(148, 204, 244, 0.2);
}

#map{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*
    top: 480px;
    left: 30px;
*/



.table-information-per-state{
    width: 100% !important;
}

.title-map{
    font-size: 1.3em;
    margin-top: 8px;
}

.label_countries{
    display: flex;
    margin-bottom: -5px;
}

.label_countries_check{
    display: flex;
}

.section-label-countries{
    position: absolute;
    top: 30px;
    right: 50px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px 20px 10px 20px;
    color: black;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0 2px 2px rgb(0 0 0 / 22%);
    z-index: 10;
}

.blue-square, .gray-square, .white-square, .orange-square,
.yellow-square{
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border-radius: 3px;
    border: 1px solid rgb(150, 150, 150);
}

.blue-square, .gray-square, .orange-square{
    padding: 5px;
}

.yellow-square{
    background-color: rgba(255, 255, 0, 1);
}

.blue-square{
    background-color: rgb(0, 24, 75);
}

.gray-square{
    background-color: rgb(189, 189, 189);
}

.orange-square{
    background-color: rgba(255, 165, 0, 1);
}

.white-square{
    background-color: white;
}

.label-color-description{
    font-size: 1em;
}

.check-value-country{
    padding-top: 1px;
}

.label-color-description{
    padding-bottom: 5px;
}

.countries-description, .countries-no-analysis-description{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px 10px 20px;
    color: black;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 22%);
}

td, th {
    padding: 0 5px !important;
    font-size: 12px !important;
}

.title-country-table{
    margin-top: 15px !important;
    font-size: 22px;
}

.icon-color-check_circle, .icon-color-cancel, .icon-color-info{
    padding-top: 0px;
    padding-right: 8px;
    font-size: 35px !important;
}

.icon-color-check_circle{
    color: green;
}

.icon-color-cancel{
    color: red;
}

.icon-color-info{
    color: rgb(135, 206, 235);
}

/* Estilos para el modal con la descripción de cada país*/
.country-description{
    margin-top: 0;
    margin-bottom: 0;
}

#ShowStateInformation{
    width: 70% !important;
    height: 83% !important;
    max-height: 83% !important;
    z-index: 100;
    top: 50px !important;
}

.title-country-table{
    display: none;
}

.modal{
/*    background: linear-gradient(rgba(0, 24, 75, 1) 0%, rgba(0, 24, 75, 1) 25%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 100%) !important; */
    border-radius: 10px !important;
}

.country-name{
    font-weight: bold !important;
    color: white;
}

.close-modal-icon{
    position: fixed !important;
    top: 10px;
    right: 10px;
    color: black !important;
}

.no-consider-to-analysis{
    margin: 0 !important;
    font-size: 20px;
}

/* Tamaño y posición de letra de las tarjetas */

.title-init-date{
    font-size: 18px !important;
    font-weight: bold !important;
}

.title-type-model{
    font-size: 18px !important;
    font-weight: bold !important;
}

.title-strategy-name{
    font-size: 18px !important;
    font-weight: bold !important;
}

.title-position{
    vertical-align: top !important;
}

.title-disposiciones{
    font-size: 18px !important;
    font-weight: bold !important;
}

.title-strategy, .title-references{
    font-size: 18px !important;
    font-weight: bold !important;
}

.card-date, .card-type-model, .card-strategy-name,
.card-reincorporation-voluntary, .card-reincorporation-gradual,
.card-vaccune-proffesors, .card-disposiciones, .card-strategy,
.card-references{
    border-radius: 10px !important;
}

/* ------------------------------- */

/* Margenes de las tarjetas internas */

.row-1{
    margin-bottom: 0 !important;
}

.row-2{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.row-3{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.title-reincorporation-voluntary, .title-reincorporation-gradual, 
.title-vaccune-proffesors{
    font-size: 16px !important;
    font-weight: bold !important;
}

.card-reincorporation-voluntary-content, .card-reincorporation-gradual-content, 
.card-vaccune-proffesors-content{
    padding: 10px !important;
    height: 50px !important;
}

.card-disposiciones-content, .card-strategy-content, .card-references-content{
    padding: 8px 18px 10px 25px !important;
}

.card-date-content, .card-type-model-content, .card-strategy-name-content{
    padding: 5px 10px 10px 25px !important;
}

.card-reincorporation-voluntary, .card-reincorporation-gradual, 
.card-vaccune-proffesors{
    margin-bottom: 0px !important;
}

.card-disposiciones, .card-references, .card-strategy{
    height: 165px !important;
}

.card-date-content, .card-type-model-content, .card-strategy-name-content{
    padding: 5px 10px 10px 15px !important;
}

/*.card-strategy-name*/
.card-references{
    overflow-y: scroll !important;
}

.card-references-content{
    overflow-x: auto;
}

.card-date, .card-type-model, .card-strategy-name{
    height: 82px !important;
}

.title-init-date, .title-type-model, .title-strategy-name,
.title-disposiciones, .title-references, .title-strategy{
    
}

/* ------------------------------- */

/* Fecha y hora de actualización */
.date-hour-last-update{
    position: absolute;
    bottom: 0;

    background: rgba(255, 255, 255, 1);
    border-top-right-radius: 5px;
    font-size: 12px;
    width: 250px;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 1000px){

/* Fecha y hora de actualización */
    .date-hour-last-update{
        position: absolute;
        bottom: 0; 

        background-color: white;
        font-size: 10px;
        width: 130px;
        padding: 2px 10px;
        text-align: center;
    }

/* Estilos para el modal */
    .modal{
        max-height: 80% !important;
    }

    #ShowStateInformation{
        width: 90% !important;
        max-width: 90% !important;
    }

    .country-name{
        font-size: 35px !important;
    }

    .close-modal-icon{
        position: fixed !important;
        top: 10px;
        right: 10px;
        color: black !important;
    }

    .section-label-countries{
        top: 10px;
        right: 10px;
        width: 250px;
        border-radius: 2px;
    }

    .title-map{
        font-size: 12px;
        margin-bottom: 6px;
    }

    .blue-square, .gray-square, .white-square, .orange-square{
        width: 10px;
        height: 10px;
        margin-right: 8px;
    }    

    .label-color-description{
        font-size: 10px;
    }

    .countries-no-analysis-description, .ammapDescriptionWindow{
        width: 150px !important;
    }

    .countries-no-analysis-description{
        margin-right: 0px;
        padding: 5px 10px 0px 10px;
    }

    .no-consider-to-analysis{
        font-size: 16px;
        margin-bottom: 0px;
    }

}
